.ps{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:30px;
}

.pc{
    position:relative;

    width:140px;
    height:140px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,.05);

    border:3px solid #3b82f6;

    overflow:hidden;
}

.profile-icon{
    font-size:60px;
    color:#94a3b8;
}

.camera-btn{

    position:absolute;

    bottom:8px;
    right:8px;

    width:38px;
    height:38px;

    border-radius:50%;

    background:#2563eb;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
}

.camera-small{
    color:white;
    font-size:16px;
}

.ci{

    font-size:45px;
    color:white;
}
.formslayout{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top left,#3b0764 0%,transparent 30%),
    radial-gradient(circle at bottom right,#312e81 0%,transparent 35%),
    #0b1120;

    font-family:'Poppins',sans-serif;
}
.card{
    width:450px;

    background:rgba(20,25,45,.65);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:30px;

    padding:35px;

    box-shadow:
    0 0 25px rgba(0,150,255,.15),
    0 0 60px rgba(140,0,255,.15);

    transition:.4s;
}

.card h1{

    text-align:center;

    font-size:42px;

    margin-bottom:25px;

    color:white;

    letter-spacing:1px;

    font-weight:700;
}
.input-box{
    display:flex;
    align-items:center;

    width:100%;

    margin:18px 0;

    padding:15px 20px;

    border-radius:18px;

    background:rgba(255,255,255,.03);

    border:2px solid #3b82f6;

    transition:.3s;

    box-shadow:
    0 0 10px rgba(59,130,246,.25);
}
.icon{
    font-size:22px;
    color:#38bdf8;
    margin-right:18px;
}
.input-box input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    font-size:18px;
}
.input-box span:last-child{
    margin-left:auto;
}
.name-fields{
    margin-top:15px;
}
.field{
    margin-bottom:15px;
}

.field label{
    display:block;
    color:white;
    margin-bottom:5px;
    font-size:14px;
}

.field input{
    width:100%;
    padding:10px;
    border:none;
    border-bottom:1px solid gray;
    background:transparent;
    color:white;
    outline:none;
}
.arrow-btn{

    background:transparent;
    border:none;
    color:#38bdf8;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}
.arrow-btn:hover{
    color:#c084fc;
    transform:(180deg);
}

.pc:hover{
    transform:scale(1.05);
    box-shadow:
    0 0 20px #3b82f6,
    0 0 45px #9333ea;
}
.ps p{

    color:#cbd5e1;

    margin-top:18px;

    text-align:center;

    font-size:18px;
}
.input-box:hover{

    border-color:#a855f7;

    box-shadow:
    0 0 18px #3b82f6,
    0 0 35px #9333ea;
    transform:translateY(-2px);
}
.input-box input::placeholder{

    color:#94a3b8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-image{
    width:100%;
    height:100%;
    object-fit:cover;
}
.input-box:focus-within{

    border-color:#8b5cf6;

    box-shadow:
    0 0 15px #3b82f6,
    0 0 35px #8b5cf6;
}
.save-btn{

    width:100%;

    padding:16px;

    margin-top:25px;

    border:none;

    border-radius:18px;

    background:linear-gradient(90deg,#2563eb,#9333ea);

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}
.save-btn:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 20px #2563eb,
    0 0 40px #9333ea;
}
textarea{

    width:100%;

    background:transparent;

    border:none;

    outline:none;

    resize:none;

    color:white;

    font-size:16px;
}
.profile-letter{
    font-size:55px;
    font-weight:bold;
    color:white;
}
.contact-list{
    margin-top:30px;
}

.contact-card{

    background:rgba(255,255,255,.08);

    padding:15px;

    border-radius:15px;

    margin-top:15px;

    color:white;
}